Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@aditiii23 
aaryak-shah
/
task_flow
Public
2
5
0
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
task_flow/.gitignore
@hs2361
hs2361 added google-services.json to .gitignore
Latest commit 293a862 on 25 Dec 2020
 History
 2 contributors
@hs2361@aaryak-shah
50 lines (42 sloc)  759 Bytes
 
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.

.vscode/
ios/
.packages
taskflow.iml
test/
pubspec.lock

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
google-services.json
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete